Flask==3.0.3
imageio==2.35.1
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
lazy_loader==0.4
networkx==3.2.1  # Replace with the latest compatible version
rembg==2.0.59
requests==2.32.3
gunicorn==20.1.0
